@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    font-family: "Merriweather", serif;
    padding: 0;
    margin: 0;
}
body {
    overflow: hidden;
    color: white;
}

#canvas {
    position: fixed;
    top: 0;
    left: 0;
    outline: none;
    z-index: -1;
}

header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
}

header .logo {
    font-size: 35px;
}

header ul {
    list-style: none;
}

header ul li {
    display: inline-block;
    margin-right: 25px;
}

header ul li a {
    color: white;
    text-decoration: none;
    font-size: 17px;
    font-weight: 500;
}

main {
    position: absolute;
    top: 46%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

main h1 {
    font-size: 5rem;
    white-space: nowrap;
    margin-bottom: 25px;
}

main p {
    font-size: 25px;
}